body {
    font-family: "Kanit", serif;
    font-weight: 800;
    font-style: normal;
}

/* *{
    border: 0.5px solid red;
} */

.background-container{
    /* margin: auto auto; */
    background-image: url("./pictures/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 74px);
}

.section-1{  /*column1 */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* padding: 40px 8px 40px 8px;  */
    align-items: center;
    width: 40%;
}

#title, #category-title {
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgba(63, 18, 199, 0.492);
    /* border: 1px solid white; */
}
#sub-title {
    color: white;
    font-weight:lighter;
    text-align: center;
    /* border: 1px solid white; */
}

.alphabet-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columnas */
    gap: 15px; /* Espacio entre letras */
    /*margin: auto;  Centra el contenedor si es necesario */
    padding: 4px;
    /* border: 1px dotted white; */
}

.alphabet-letter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 44px;
    border: 4px solid #0198fc;
    background-color: #57eaedee ;
    box-shadow: 5px 5px 5px 3px rgba(130, 15, 183, 0.492);
    border-radius: 8px;
    color: rgb(20, 20, 157);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: larger;
}

.section-2{  /*column1 */
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;
    width: 60%;
    /* border: 1px dashed lightcoral; */
    /* height: 100%; */
}

.phrase-div{
    z-index: 1;
    border-radius: 20px;
    background-color: #0198fc71;
    padding: 15px;
    /* box-shadow: 5px 5px 5px 3px rgba(63, 18, 199, 0.492); */
}

.hidden-letter{
    border-bottom: 3px solid white;
    display: inline-block;
    font-size: larger;
    padding: 5px;
    margin: 0 3px 0 3px;
    width: 20px;
    color: rgba(255, 0, 0, 0);
    font-weight: 600;
    cursor: default;
}

.revealed-letter{
    border-bottom: 3px solid white;
    display: inline-block;
    font-size: larger;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 3px 0 3px;
    width: 20px;
    color: white;
    text-shadow: 1px 1px 4px black;
    text-align: center;
}

.special-char{
    border-bottom: none;
    display: inline-block;
    padding: 8px;
    margin: 0 3px 0 3px;
    width: 20px;
    color: white;
}

.disabled{
    background-color: gray;
    cursor: default;
}

/* Contenedor con animación de flotación y cambio de altura */
.balloon {
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    position: absolute;
    transition: top 1s ease-in-out; /* Para el scale */
    animation: float 3s ease-in-out infinite;
    /* border: 1px dashed white;   */
}
/* Clases que cambian top */
.falling-0 {
    top: 18vh;
}
.falling-1 {
    top: 30vh;
}
.falling-2 {
    top: 45vh;
}
.falling-3 {
    top: 60vh;
}
.falling-4 {
    top: 80vh;
    animation: none;
}
.falling-5{
    display: none;
}

/* Imagen cuyo tamaño se escala */
.balloon-img {
    margin: 0;
    padding: 0;
    width: 350px;
    height: 200px;
    /* object-fit: contain; */
    transition: transform 1s ease-in-out; /* Para el scale */
    transform-origin: center;
    /*border: 1px dashed rgb(194, 229, 22); */
}
/* Clases que cambian la escala */
.falling-0.balloon-img {
    transform: scale(1.2);
}
.falling-1.balloon-img {
    transform: scale(0.9);
}
.falling-2.balloon-img {
    transform: scale(0.78);
}
.falling-3.balloon-img {
    transform: scale(0.6);
}
.falling-4.balloon-img {
    transform: scale(0);
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.shark{
    display: none;
}

.shark.visible{
    display: block;
    width: 40px;
    position: absolute;
    top: 90vh;
    animation: lurk 5s linear infinite;
}
/* .shark.visible.sunk{
    animation: lurk 3s linear infinite;
} */

@keyframes lurk {
    0%{
        left: 80%;
        height: 25px;
    }
    25%{
        left: 70%;
        top: 93vh;
        height: 40px;
    }
    50%{
        left: 60%;
        height:25px;
        transform: scaleX(1);
    }
    51%{
        transform: scaleX(-1);
    }
    75%{
        left: 70%;
        top: 86vh;
        height: 40px;
        transform: scaleX(-1);
    }
    100%{
        left: 80%;
        height: 25px;
        transform: scaleX(-1);
    }
}