body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:  8px 20px 8px 20px;
    background-color: #0198fc;
}

.navbar-logo{
    display: flex;
}
.navbar-logo a img{
    margin-right: 12px;
    transition: transform 0.3s ease-in;
    /* border: 0.25px solid pink; */
}
.navbar-logo a img:hover{
    transition: transform 0.3s ease-in;
    transform: scale(1.17) rotateZ(-10deg);
}

.navbar-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu a{
    padding: 10px;
}

.long-input{
    width: 600px;
    text-align: center;
}

a{
    text-decoration: none;
    color:rgb(225, 247, 247);
    display: inline-block;
}

a:hover{
    color: rgb(253, 253, 253);
    border-radius: 20px;
}

.result{
    width: 300px;
}
